.about-me {
  text-align: center;
}
#contact-form .container{
	background: url(../images/cnt.png);
  	background-size: cover;
  	background-position: center;
  	height: 100%;
  	width: 100% ;
}
#contact-form .container .h2{
	text-align: center;
}
